@using MiniFootballApp.Core.Models.Team;

@model IEnumerable<TeamServiceModel>


@{
    ViewBag.Title = "All Teams";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    @foreach (var house in Model)
    {
        <partial name="_TeamPartial" model="@house" />
    }
</div>