@{
    ViewData["Title"] = "Error";
}


<div class="row text-center">
    <div class="col-6">
        <div class="row text-center">
            <div class="col-10">
                <h1><strong>Error</strong></h1>
                <h2>An error occurred while trying to process your request.</h2>
                <img src="~/Images/Error/Error.webp" class="img-thumbnail" />
                <br />
                <br />
                <div class="text-left h4">Please go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</div>
            </div>
            </div>
        </div>
</div>
