@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Mini Football Applications</h1>
    <p>Here you can sign up for team and matches to play your favourite mini football.</p>
</div>
