@using Microsoft.AspNetCore.Identity
@using MiniFootballApp.Core.Contracts;
@using MiniFootballApp.Infrastucture.Data.EntityModels;
@using System.Security.Claims;
@using static MiniFootballApp.Areas.Admin.Constants.AdminConstants;

@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager
@inject IPlayerService playerService;

@{
    var user = await userManager.GetUserAsync(User);
}

<ul class="navbar-nav">
    @if (signInManager.IsSignedIn(User))
    {
        @if (await userManager.IsInRoleAsync(user,AdminRole))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Panel">Administrator Panel</a>
            </li>
        }
        @if (await playerService.IsPlayerAsync(User.Id()) == false)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Player" asp-action="Become">Become Player</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
